.panel.panel-default
  .panel-heading
    .row
      .col-md-10
        %comment_user= comment.user.email
      .col-md-2
        - if user_signed_in?
          = link_to "Delete", [comment.portrait, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default"
  .panel-body
    %p.comment_content= comment.content
  .panel-footer
    %p.comment_time
      = time_ago_in_words(comment.created_at)
      ago
