#portraits.transitions-enabled
  - @portraits.each do |portrait|
    .box.panel.panel-default
      = link_to (image_tag portrait.image.url), portrait
      .panel-body
        %h2= link_to portrait.title, portrait
        %p.user
        Submitted by
        = portrait.user.email
